<div class="header-wrapper">
    <div class="left-side">
        <button mat-icon-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        <label class="title">Angular interview</label>
    </div>
    <div class="right-side">
    </div>
</div>