<p-table [value]="users">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Birthdate</th>
            <th>...</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user *ngFor="let user of users">
        <tr *ngIf="!user.deleted">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td>{{user.birthdate | date}}</td>
            <td fxLayout="row" fxLayoutAlign="space-around space-between">
                <button mat-raised-button color="primary" [routerLink]="['/users', user.id]">edit</button>
                <button mat-raised-button color="primary" (click)="delete(user)">delete</button>
            </td>
        </tr>
    </ng-template>
    <app-form></app-form>
</p-table>
<div id="add-new-user" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" [routerLink]="['/users', generateNextId()]">add new user</button>
</div>