<form name="user-form" fxLayout="column" fxLayoutAlign="center center" action="" [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="name" formControlName="name">
        <mat-hint> Please enter your name.</mat-hint>
        <mat-error *ngIf="form.get('name').hasError('required')">
            Name <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
        <mat-hint> Please enter your email address.</mat-hint>
        <mat-error *ngIf="form.get('email').hasError('email') || !form.get('email').hasError('required')">
            Please enter valid email!
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('required')">
            Email <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="address" formControlName="address">
        <mat-hint> Please enter your address.</mat-hint>
        <mat-error *ngIf="form.get('address').hasError('address') || !form.get('address').hasError('required')">
            Please enter your address!
        </mat-error>
        <mat-error *ngIf="form.get('address').hasError('required')">
            Address <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="birthdate" formControlName="birthdate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint> Please enter your birthdate.</mat-hint>
        <mat-error *ngIf="form.get('birthdate').hasError('required')">
           Birthdate <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="onSubmit()">Submit</button>
</form>