<div class="app-wrapper">
    <app-header [menuToggled]="snav" class="header"></app-header>
    <div class="content-wrapper">
        <mat-sidenav-container class="example-sidenav-container">
            <mat-sidenav #snav>
                <app-menu class="menu"></app-menu>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>