.app-wrapper {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    background: whitesmoke;

    .header {
        display: block;
        line-height: 50px;
        flex: 0 0 50px;
    }

    .content-wrapper {
        display: flex;
        width: 100%;
        height: calc(100% - 50px);

        .menu {
            display: block;
            flex: 0 0 300px;
            width: 300px;
            height: 100%;
        }

        .content {
            flex: 1 1 auto;
            overflow: auto;
            padding: 20px;
        }
    }
}
