<div class="menu-item-wrapper" [routerLink]="menuItem.link" routerLinkActive="active">
    <fa-icon class="icon" [icon]="menuItem.icon">
    </fa-icon>
        <div class="name">{{menuItem.name}}</div>
</div>